<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tile1</key>
	<dict>
		<key>xCoor</key>
		<integer>3</integer>
		<key>yCoor</key>
		<integer>7</integer>
		<key>xPos</key>
		<integer>1</integer>
		<key>yPos</key>
		<integer>1</integer>
		<key>type</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<key>Tile2</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile3</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile4</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile5</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile6</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile7</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile8</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile9</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile10</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile11</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile12</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile13</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile14</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile15</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile16</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile17</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile18</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile19</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile20</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile21</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile22</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile23</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile24</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile25</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile26</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile27</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile28</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile29</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile30</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile31</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile32</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile33</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile34</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile35</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile36</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile37</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile38</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile39</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile40</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile41</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile42</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile43</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile44</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile45</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile46</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile47</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile48</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
	<key>Tile49</key>
	<dict>
		<key>xCoor</key>
		<integer>0</integer>
		<key>yCoor</key>
		<integer>0</integer>
		<key>xPos</key>
		<integer>0</integer>
		<key>yPos</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
